.container {
	height: 100vh;
	
}

.row {
	/*position: absolute;
	top: 15%;
	left: 30%;*/
}

#consoleTextA {
	text-align: left;
	font-size: 80px;
}

#consoleTextB {
	text-align: left;
	font-size: 80px;
}

#consoleTextG {
	text-align: left;
	font-size: 80px;
}