body {
  /*background: url(SpinnyTopLogo.png) no-repeat center center fixed;
  -webkit-background-size: 100vh;
  -moz-background-size: 100vh;
  -o-background-size: 100vh;
  background-size: 100vh;*/
  /*background-color: #27aae1;*/
}

hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  color: lightgray; /* old IE */
  background-color: lightgray; /* Modern Browsers */
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
	height: 100vh;

}
.logo {
  padding-top: 10px;
  padding-bottom: 15px;
}

.side-menu {
  height: 100vh;
}

iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
    -webkit-box-shadow: 7px 7px 40px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: 7px 7px 40px 1px rgba(0,0,0,0.63);
    box-shadow: 7px 7px 40px 1px rgba(0,0,0,0.63);
}

#spinny-video {
  width: 100%;
  height: 50vh;
  margin: 0px;
}

@media screen and (min-width: 600px) {
  #spinny-video {
    width: 100%;
    height: 100vh;
    margin: 15px;
  }

@media screen and (min-width: 600px) {
  .logo-top-container {
    display: none;
  }
}

.btn-paypal {
  border-radius: 10px;
}

#consoleTextG {
	position: absolute;
    width: 600px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -300px; /* margin is -0.5 * dimension */
    margin-top: -50px;
    transform-origin: 50% 0%;

}

#consoleTextAcc {
	position: absolute;
    width: 600px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -300px; /* margin is -0.5 * dimension */
    margin-top: -50px;
    transform-origin: 50% 0%;

}

.console {
	text-align: center;
	font-size: 80px;
}
