.container {
	height: 100vh;
	
}

.row {
	/*position: absolute;
	top: 15%;
	left: 30%;*/
}

.console-container{
	/*border-radius: 100%;
	max-width: 20%;*/
}

/*#consoleTextA {
	text-align: left;
	font-size: 80px;
}

#consoleTextB {
	text-align: left;
	font-size: 80px;
}*/

#consoleTextG {
	position: absolute;
    width: 600px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -300px; /* margin is -0.5 * dimension */
    margin-top: -50px; 
    transform-origin: 50% 0%;
	
}

.console {
	text-align: center;
	font-size: 80px;
}